@import 'https://www.nerdfonts.com/assets/css/webfont.css';
@import 'https://mshaugh.github.io/nerdfont-webfonts/build/firamono.css';
@import 'tailwindcss';
@import './rose-pine.css';
/* @import "tw-animate-css"; */

@theme {
  --animate-scroll-half-text: 15s linear 3s infinite scroll-half-text normal;

  --font-fira-nf: 'FiraCode Nerd Font', 'sans';
  --font-fira-nfp: 'FiraCode Nerd Font Propo', 'FiraCode Nerd Font', 'sans';
  --font-fira-nfm: 'FiraCode Nerd Font Mono', 'FiraCode Nerd Font', 'mono';
}

@keyframes scroll-half-text {
  0% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@utility -animation-delay-* {
  animation-delay: calc(--value([integer]) * -1);
}
@utility animation-delay-* {
  animation-delay: --value([integer]);
}

@layer base {
  * {
    @apply scroll-smooth;
    scrollbar-width: thin;
  }

  html,
  body {
    @apply font-fira-nfm theme-text-plate-text size-full bg-transparent;
  }
}
